
>

## Import Libraries

In [1]:
# import libraries

#!pip install kaggle

import numpy as np
import pandas as pd
import zipfile
import kaggle

## Download and read CSV file

In [2]:
# download the dataset

#!kaggle datasets download -d nelgiriyewithana/countries-of-the-world-2023

In [3]:
# # extract the file from the downloaded zip file
# 
# zipfile_name = 'countries-of-the-world-2023.zip'
# with zipfile.ZipFile(zipfile_name, 'r') as file:
#     file.extractall()

In [4]:
# read in the csv file as a pandas dataframe
countries_load = pd.read_csv('world-data-2023.csv')

## Data Exploration

In [5]:
# view dataframe head with all columns
with pd.option_context('display.max_columns', None):
    print(countries_load.head())

       Country Density\n(P/Km2) Abbreviation Agricultural Land( %)  \
0  Afghanistan               60           AF                58.10%
1      Albania              105           AL                43.10%
2      Algeria               18           DZ                17.40%
3      Andorra              164           AD                40.00%
4       Angola               26           AO                47.50%

  Land Area(Km2) Armed Forces size  Birth Rate  Calling Code  \
0        652,230           323,000       32.49          93.0
1         28,748             9,000       11.78         355.0
2      2,381,741           317,000       24.28         213.0
3            468               NaN        7.20         376.0
4      1,246,700           117,000       40.73         244.0

  Capital/Major City Co2-Emissions     CPI CPI Change (%) Currency-Code  \
0              Kabul         8,672   149.9          2.30%           AFN
1             Tirana         4,536  119.05          1.40%           ALL
2            Algiers       150,006  151.36          2.00%           DZD
3   Andorra la Vella           469     NaN            NaN           EUR
4             Luanda        34,693  261.73         17.10%           AOA

   Fertility Rate Forested Area (%) Gasoline Price                GDP  \
0            4.47             2.10%         $0.70    $19,101,353,833
1            1.62            28.10%         $1.36    $15,278,077,447
2            3.02             0.80%         $0.28   $169,988,236,398
3            1.27            34.00%         $1.51     $3,154,057,987
4            5.52            46.30%         $0.97    $94,635,415,870

  Gross primary education enrollment (%)  \
0                                104.00%
1                                107.00%
2                                109.90%
3                                106.40%
4                                113.50%

  Gross tertiary education enrollment (%)  Infant mortality      Largest city  \
0                                   9.70%              47.9             Kabul
1                                  55.00%               7.8            Tirana
2                                  51.40%              20.1           Algiers
3                                     NaN               2.7  Andorra la Vella
4                                   9.30%              51.6            Luanda

   Life expectancy  Maternal mortality ratio Minimum wage Official language  \
0             64.5                     638.0       $0.43             Pashto
1             78.5                      15.0       $1.12           Albanian
2             76.7                     112.0       $0.95             Arabic
3              NaN                       NaN       $6.63            Catalan
4             60.8                     241.0       $0.71         Portuguese

  Out of pocket health expenditure  Physicians per thousand  Population  \
0                           78.40%                     0.28  38,041,754
1                           56.90%                     1.20   2,854,191
2                           28.10%                     1.72  43,053,054
3                           36.40%                     3.33      77,142
4                           33.40%                     0.21  31,825,295

  Population: Labor force participation (%) Tax revenue (%) Total tax rate  \
0                                    48.90%           9.30%         71.40%
1                                    55.70%          18.60%         36.60%
2                                    41.20%          37.20%         66.10%
3                                       NaN             NaN            NaN
4                                    77.50%           9.20%         49.10%

  Unemployment rate Urban_population   Latitude  Longitude
0            11.12%        9,797,273  33.939110  67.709953
1            12.33%        1,747,593  41.153332  20.168331
2            11.70%       31,510,100  28.033886   1.659626
3               NaN           67,873  42.506285   1.521801
4             6.89%       21,061,025 -11.202692  17.873887

In [6]:
# inspect dataframe's datatypes and missing values
countries_load.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Country                                    195 non-null    object
 1   Density
(P/Km2)                            195 non-null    object
 2   Abbreviation                               188 non-null    object
 3   Agricultural Land( %)                      188 non-null    object
 4   Land Area(Km2)                             194 non-null    object
 5   Armed Forces size                          171 non-null    object
 6   Birth Rate                                 189 non-null    float64
 7   Calling Code                               194 non-null    float64
 8   Capital/Major City                         192 non-null    object
 9   Co2-Emissions                              188 non-null    object
 10  CPI                                        178 non-null    object
 11  CPI Change (%)                             179 non-null    object
 12  Currency-Code                              180 non-null    object
 13  Fertility Rate                             188 non-null    float64
 14  Forested Area (%)                          188 non-null    object
 15  Gasoline Price                             175 non-null    object
 16  GDP                                        193 non-null    object
 17  Gross primary education enrollment (%)     188 non-null    object
 18  Gross tertiary education enrollment (%)    183 non-null    object
 19  Infant mortality                           189 non-null    float64
 20  Largest city                               189 non-null    object
 21  Life expectancy                            187 non-null    float64
 22  Maternal mortality ratio                   181 non-null    float64
 23  Minimum wage                               150 non-null    object
 24  Official language                          190 non-null    object
 25  Out of pocket health expenditure           188 non-null    object
 26  Physicians per thousand                    188 non-null    float64
 27  Population                                 194 non-null    object
 28  Population: Labor force participation (%)  176 non-null    object
 29  Tax revenue (%)                            169 non-null    object
 30  Total tax rate                             183 non-null    object
 31  Unemployment rate                          176 non-null    object
 32  Urban_population                           190 non-null    object
 33  Latitude                                   194 non-null    float64
 34  Longitude                                  194 non-null    float64
dtypes: float64(9), object(26)
memory usage: 53.4+ KB

## Raw Dataframe Summary
- 195 rows, 35 columns
- Column names should be standardized.
- Some object (string) type columns should be numeric.
- Most columns have missing values.

## Cleaning the Dataframe

In [7]:
# copy the dataframe to begin cleaning
countries = countries_load.copy()

In [8]:
# standardize column names
countries.columns = (
    countries.columns
    .str.strip()  # remove leading/trailing whitespace
    .str.replace(r'\s+', '_', regex=True)  # replace spaces/newlines with underscores
    .str.replace(r'[^\w_]', '', regex=True)  # remove special characters like (, %, :)
    .str.lower()  # lowercase for consistency
    .str.rstrip('_')  # strip trailing underscores
)

# inspect progress of column rename
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density_pkm2                          195 non-null    object
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    object
 4   land_areakm2                          194 non-null    object
 5   armed_forces_size                     171 non-null    object
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capitalmajor_city                     192 non-null    object
 9   co2emissions                          188 non-null    object
 10  cpi                                   178 non-null    object
 11  cpi_change                            179 non-null    object
 12  currencycode                          180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    object
 15  gasoline_price                        175 non-null    object
 16  gdp                                   193 non-null    object
 17  gross_primary_education_enrollment    188 non-null    object
 18  gross_tertiary_education_enrollment   183 non-null    object
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    object
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    object
 26  physicians_per_thousand               188 non-null    float64
 27  population                            194 non-null    object
 28  population_labor_force_participation  176 non-null    object
 29  tax_revenue                           169 non-null    object
 30  total_tax_rate                        183 non-null    object
 31  unemployment_rate                     176 non-null    object
 32  urban_population                      190 non-null    object
 33  latitude                              194 non-null    float64
 34  longitude                             194 non-null    float64
dtypes: float64(9), object(26)
memory usage: 53.4+ KB

In [9]:
# these column names need further refinement for standardization
column_rename = {'agricultural_land': 'agricultural_land_pct',
                'land_areakm2': 'land_area_km2',
                'capitalmajor_city': 'capital_major_city',
                'co2emissions': 'co2_emissions',
                'cpi_change': 'cpi_change_pct',
                'currencycode': 'currency_code',
                'forested_area': 'forested_area_pct',
                'gross_primary_education_enrollment': 'gross_primary_edu_pct',
                'gross_tertiary_education_enrollment': 'gross_tertiary_edu_pct',
                'out_of_pocket_health_expenditure': 'oop_health_expend',
                'population_labor_force_participation': 'pop_labor_force_participation_pct',
                'tax_revenue': 'tax_revenue_pct'
                }

# rename the columns
countries.rename(columns=column_rename, inplace=True)

In [10]:
# identify the columns that should be converted from object (string) datatype to numeric
string_cols = ['density_pkm2', 'agricultural_land_pct',
       'land_area_km2', 'armed_forces_size', 
       'co2_emissions', 'cpi', 'cpi_change_pct', 
       'forested_area_pct', 'gasoline_price', 'gdp', 'gross_primary_edu_pct',
       'gross_tertiary_edu_pct', 'minimum_wage',
       'oop_health_expend', 'population',
       'pop_labor_force_participation_pct', 'tax_revenue_pct',
       'total_tax_rate', 'unemployment_rate', 'urban_population']

# clean string data (remove special characters) and change to numeric
for col in string_cols:
    countries[col] = (countries[col]
                                .str.replace('%', '', regex=False)
                                .str.replace('nan', 'NaN', regex=False)
                                .str.replace(',', '', regex=False)
                                .str.replace('$', '', regex=False)
                                .str.strip()
                     )
    countries[col] = pd.to_numeric(countries[col], errors='coerce')  # convert to numeric

In [11]:
# verify that the correct columns were changed to numeric
countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   country                            195 non-null    object
 1   density_pkm2                       195 non-null    int64
 2   abbreviation                       188 non-null    object
 3   agricultural_land_pct              188 non-null    float64
 4   land_area_km2                      194 non-null    float64
 5   armed_forces_size                  171 non-null    float64
 6   birth_rate                         189 non-null    float64
 7   calling_code                       194 non-null    float64
 8   capital_major_city                 192 non-null    object
 9   co2_emissions                      188 non-null    float64
 10  cpi                                178 non-null    float64
 11  cpi_change_pct                     179 non-null    float64
 12  currency_code                      180 non-null    object
 13  fertility_rate                     188 non-null    float64
 14  forested_area_pct                  188 non-null    float64
 15  gasoline_price                     175 non-null    float64
 16  gdp                                193 non-null    float64
 17  gross_primary_edu_pct              188 non-null    float64
 18  gross_tertiary_edu_pct             183 non-null    float64
 19  infant_mortality                   189 non-null    float64
 20  largest_city                       189 non-null    object
 21  life_expectancy                    187 non-null    float64
 22  maternal_mortality_ratio           181 non-null    float64
 23  minimum_wage                       150 non-null    float64
 24  official_language                  190 non-null    object
 25  oop_health_expend                  188 non-null    float64
 26  physicians_per_thousand            188 non-null    float64
 27  population                         194 non-null    float64
 28  pop_labor_force_participation_pct  176 non-null    float64
 29  tax_revenue_pct                    169 non-null    float64
 30  total_tax_rate                     183 non-null    float64
 31  unemployment_rate                  176 non-null    float64
 32  urban_population                   190 non-null    float64
 33  latitude                           194 non-null    float64
 34  longitude                          194 non-null    float64
dtypes: float64(28), int64(1), object(6)
memory usage: 53.4+ KB

In [12]:
# Some of the numeric columns should be integer datatype.
# list of columns that should be integer datatype
columns_to_integer = ['land_area_km2', 'armed_forces_size', 'calling_code', 'co2_emissions',
                     'maternal_mortality_ratio', 'population', 'urban_population']

# change the datatype of these columns to integer
for col in columns_to_integer:
    countries[col] = countries[col].astype('Int64')

In [13]:
# print dataset head with all columns
with pd.option_context('display.max_columns', None):
    print(countries.head())

       country  density_pkm2 abbreviation  agricultural_land_pct  \
0  Afghanistan            60           AF                   58.1
1      Albania           105           AL                   43.1
2      Algeria            18           DZ                   17.4
3      Andorra           164           AD                   40.0
4       Angola            26           AO                   47.5

   land_area_km2  armed_forces_size  birth_rate  calling_code  \
0         652230             323000       32.49            93
1          28748               9000       11.78           355
2        2381741             317000       24.28           213
3            468               <NA>        7.20           376
4        1246700             117000       40.73           244

  capital_major_city  co2_emissions     cpi  cpi_change_pct currency_code  \
0              Kabul           8672  149.90             2.3           AFN
1             Tirana           4536  119.05             1.4           ALL
2            Algiers         150006  151.36             2.0           DZD
3   Andorra la Vella            469     NaN             NaN           EUR
4             Luanda          34693  261.73            17.1           AOA

   fertility_rate  forested_area_pct  gasoline_price           gdp  \
0            4.47                2.1            0.70  1.910135e+10
1            1.62               28.1            1.36  1.527808e+10
2            3.02                0.8            0.28  1.699882e+11
3            1.27               34.0            1.51  3.154058e+09
4            5.52               46.3            0.97  9.463542e+10

   gross_primary_edu_pct  gross_tertiary_edu_pct  infant_mortality  \
0                  104.0                     9.7              47.9
1                  107.0                    55.0               7.8
2                  109.9                    51.4              20.1
3                  106.4                     NaN               2.7
4                  113.5                     9.3              51.6

       largest_city  life_expectancy  maternal_mortality_ratio  minimum_wage  \
0             Kabul             64.5                       638          0.43
1            Tirana             78.5                        15          1.12
2           Algiers             76.7                       112          0.95
3  Andorra la Vella              NaN                      <NA>          6.63
4            Luanda             60.8                       241          0.71

  official_language  oop_health_expend  physicians_per_thousand  population  \
0            Pashto               78.4                     0.28    38041754
1          Albanian               56.9                     1.20     2854191
2            Arabic               28.1                     1.72    43053054
3           Catalan               36.4                     3.33       77142
4        Portuguese               33.4                     0.21    31825295

   pop_labor_force_participation_pct  tax_revenue_pct  total_tax_rate  \
0                               48.9              9.3            71.4
1                               55.7             18.6            36.6
2                               41.2             37.2            66.1
3                                NaN              NaN             NaN
4                               77.5              9.2            49.1

   unemployment_rate  urban_population   latitude  longitude
0              11.12           9797273  33.939110  67.709953
1              12.33           1747593  41.153332  20.168331
2              11.70          31510100  28.033886   1.659626
3                NaN             67873  42.506285   1.521801
4               6.89          21061025 -11.202692  17.873887

In [14]:
# An encoding issue was mentioned in the discussion board for this dataset.

# search and print all rows with corrupted data (�) 
mask = countries.map(lambda x: '�' in str(x))
rows_with_bad_chars = countries[mask.any(axis=1)]

with pd.option_context('display.max_columns', None):
    print(rows_with_bad_chars)

          country  density_pkm2 abbreviation  agricultural_land_pct  \
23         Brazil            25           BR                   33.9
31       Cameroon            56           CM                   20.6
37       Colombia            46           CO                   40.3
40     Costa Rica           100           CR                   34.5
43         Cyprus           131           CY                   12.2
76        Iceland             3           IS                   18.7
104      Maldives          1802           MV                   26.3
112       Moldova           123           MD                   74.2
136      Paraguay            18           PY                   55.1
150  S�����������           228           ST                   50.7
168        Sweden            25           SE                    7.4
169   Switzerland           219           CH                   38.4
175          Togo           152           TG                   70.2
176         Tonga           147           TO                   45.8

     land_area_km2  armed_forces_size  birth_rate  calling_code  \
23         8515770             730000       13.92            55
31          475440              24000       35.39           237
37         1138910             481000       14.88            57
40           51100              10000       13.97           506
43            9251              16000       10.46           357
76          103000                  0       12.00           354
104            298               5000       14.20           960
112          33851               7000       10.10           373
136         406752              27000       20.57           595
150            964               1000       31.54           239
168         450295              30000       11.40            46
169          41277              21000       10.00            41
175          56785              10000       33.11           228
176            747               <NA>       24.30           676

    capital_major_city  co2_emissions     cpi  cpi_change_pct currency_code  \
23             Bras���         462299  167.40             3.7           BRL
31             Yaound�           8291  118.65             2.5           XAF
37              Bogot�          97814  140.95             3.5           COP
40       San Jos������           8023  128.85             2.1           CRC
43             Nicosia           6626  102.51             0.3           EUR
76           Reykjav��           2065  129.00             3.0           ISK
104               Mal�           1445   99.70             0.2           NaN
112            Chi����           5115  166.20             4.8           MDL
136           Asunci��           7407  143.82             2.8           PYG
150              S����            121  185.09             7.9           STN
168          Stockholm          43252  110.51             1.8           SEK
169               Bern          34477   99.55             0.4           CHF
175               Lom�           3000  113.30             0.7           XOF
176           Nuku����            128  121.09             7.4           TOP

     fertility_rate  forested_area_pct  gasoline_price           gdp  \
23             1.73               58.9            1.02  1.839758e+12
31             4.57               39.3            1.03  3.876047e+10
37             1.81               52.7            0.68  3.238028e+11
40             1.75               54.6            0.98  6.177394e+10
43             1.33               18.7            1.23  2.456465e+10
76             1.71                0.5            1.69  2.418804e+10
104            1.87                3.3            1.63  5.729248e+09
112            1.26               12.6            0.80  1.195544e+10
136            2.43               37.7            1.04  3.814529e+10
150            4.32               55.8             NaN  4.290166e+08
168            1.76               68.9            1.42  5.308329e+11
169            1.52               31.8            1.45  7.030824e+11
175            4.32                3.1            0.71  5.459979e+09
176            3.56               12.5             NaN  4.503533e+08

     gross_primary_edu_pct  gross_tertiary_edu_pct  infant_mortality  \
23                   115.4                    51.3              12.8
31                   103.4                    12.8              50.6
37                   114.5                    55.3              12.2
40                   113.3                    55.2               7.6
43                    99.3                    75.9               1.9
76                   100.4                    71.8               1.5
104                   97.1                    31.2               7.4
112                   90.6                    39.8              13.6
136                  104.4                    34.6              17.2
150                  106.8                    13.4              24.4
168                  126.6                    67.0               2.2
169                  105.2                    59.6               3.7
175                  123.8                    14.5              47.4
176                  116.3                     6.4              13.4

        largest_city  life_expectancy  maternal_mortality_ratio  minimum_wage  \
23             S����             75.7                        60          1.53
31            Douala             58.9                       529          0.35
37            Bogot�             77.1                        83          1.23
40     San Jos������             80.1                        27          1.84
43     Statos�������             80.8                         6           NaN
76         Reykjav��             82.7                         4           NaN
104             Mal�             78.6                        53           NaN
112          Chi����             71.8                        19          0.31
136  Ciudad del Este             74.1                       129          1.55
150            S����             70.2                       130           NaN
168           S�����             82.5                         4           NaN
169             Z���             83.6                         5           NaN
175             Lom�             60.8                       396          0.34
176         Nuku����             70.8                        52           NaN

    official_language  oop_health_expend  physicians_per_thousand  population  \
23         Portuguese               28.3                     2.15   212559417
31             French               69.7                     0.09    25876380
37            Spanish               18.3                     2.18    50339443
40            Spanish               21.5                     2.89     5047561
43              Greek               43.9                     1.95     1198575
76          Icelandic               17.0                     4.08      361313
104            Divehi               16.4                     4.56      530953
112          Romanian               46.2                     3.21     2657637
136           Spanish               36.5                     1.35     7044636
150               NaN               11.7                     0.05      215056
168           Swedish               15.2                     3.98    10285453
169            German               28.3                     4.30     8574832
175            French               51.0                     0.08     8082366
176   Tongan Language               10.2                     0.52      100209

     pop_labor_force_participation_pct  tax_revenue_pct  total_tax_rate  \
23                                63.9             14.2            65.1
31                                76.1             12.8            57.7
37                                68.8             14.4            71.2
40                                62.1             13.6            58.3
43                                63.1             24.5            22.4
76                                75.0             23.3            31.9
104                               69.8             19.5            30.2
112                               43.1             17.7            38.7
136                               72.1             10.0            35.0
150                               57.8             14.6            37.0
168                               64.6             27.9            49.1
169                               68.3             10.1            28.8
175                               77.6             16.9            48.2
176                               59.8             22.3            27.5

     unemployment_rate  urban_population   latitude   longitude
23               12.08         183241641 -14.235004  -51.925280
31                3.38          14741256   7.369722   12.354722
37                9.71          40827302   4.570868  -74.297333
40               11.85           4041885   9.748917  -83.753428
43                7.27            800708  35.126413   33.429859
76                2.84            339110  64.963051  -19.020835
104               6.14            213645   3.202778   73.220680
112               5.47           1135502  47.411631   28.369885
136               4.81           4359150 -23.442503  -58.443832
150              13.37            158277        NaN         NaN
168               6.48           9021165  60.128161   18.643501
169               4.58           6332428  46.818188    8.227512
175               2.04           3414638   8.619543    0.824782
176               1.12             24145 -21.178986 -175.198242

In [26]:
# dictionary of corrections for capital cities
corrections_capital_cities = {
    23:'Brasília',
    31:'Yaoundé',
    37:'Bogotá',
    40:'San José',
    43:'Nicosia',
    76:'Reykjavík',
    104:'Malé',
    112:'Chișinău',
    136:'Asunción',
    150:'São Tomé',
    168:'Stockholm',
    169:'Bern',
    175:'Lomé',
    176:'Nukuʻalofa'
}

# apply corrections to capital cities
for index, value in corrections_capital_cities.items():
    countries.at[index, 'capital_major_city'] = value

# dictionary of corrections for largest cities
corrections_largest_cities = {
    23:'São Paulo',
    37:'Bogotá',
    40:'San José',
    43:'Statos',
    76:'Reykjavík',
    104:'Malé',
    112:'Chișinău',
    150:'São Tomé',
    168:'Stockholm',
    169:'Zurich',
    175:'Lomé',
    176:'Nukuʻalofa'
}
# apply corrections to largest cities
for index, value in corrections_largest_cities.items():
    countries.at[index, 'largest_city'] = value

# correction for country name (São Tomé and Príncipe deduced based on calling code)
countries.loc[150, 'country'] = 'São Tomé and Príncipe'

# verify all corrupted data is fixed 
mask = countries.map(lambda x: '�' in str(x))
rows_with_bad_chars = countries[mask.any(axis=1)]
with pd.option_context('display.max_columns', None):
    print(rows_with_bad_chars)

Empty DataFrame
Columns: [country, density_pkm2, abbreviation, agricultural_land_pct, land_area_km2, armed_forces_size, birth_rate, calling_code, capital_major_city, co2_emissions, cpi, cpi_change_pct, currency_code, fertility_rate, forested_area_pct, gasoline_price, gdp, gross_primary_edu_pct, gross_tertiary_edu_pct, infant_mortality, largest_city, life_expectancy, maternal_mortality_ratio, minimum_wage, official_language, oop_health_expend, physicians_per_thousand, population, pop_labor_force_participation_pct, tax_revenue_pct, total_tax_rate, unemployment_rate, urban_population, latitude, longitude]
Index: []

In [16]:
# handling missing values
countries.isnull().sum()

country                               0
density_pkm2                          0
abbreviation                          7
agricultural_land_pct                 7
land_area_km2                         1
armed_forces_size                    24
birth_rate                            6
calling_code                          1
capital_major_city                    3
co2_emissions                         7
cpi                                  17
cpi_change_pct                       16
currency_code                        15
fertility_rate                        7
forested_area_pct                     7
gasoline_price                       20
gdp                                   2
gross_primary_edu_pct                 7
gross_tertiary_edu_pct               12
infant_mortality                      6
largest_city                          6
life_expectancy                       8
maternal_mortality_ratio             14
minimum_wage                         45
official_language                     5
oop_health_expend                     7
physicians_per_thousand               7
population                            1
pop_labor_force_participation_pct    19
tax_revenue_pct                      26
total_tax_rate                       12
unemployment_rate                    19
urban_population                      5
latitude                              1
longitude                             1
dtype: int64

## Handle Missing Values

In [ ]:
# TO DO: abbreviations should be two letters not three

In [17]:
# find missing values in the abbreviation column
countries[countries['abbreviation'].isnull()]['country']

39              Republic of the Congo
56                           Eswatini
73                       Vatican City
81                Republic of Ireland
119                           Namibia
128                   North Macedonia
133    Palestinian National Authority
Name: country, dtype: object

In [18]:
# dictionary of country names and abbreviations to fill missing values
updated_abbreviations = {'Republic of the Congo': 'RCG',
                        'Eswatini': 'ESW',
                        'Vatican City': 'VAC',
                        'Republic of Ireland': 'ROI',
                        'Namibia': 'NAM',
                        'North Macedonia': 'NOM',
                        'Palestinian National Authority': 'PNA'
                        }

# Update only missing abbreviations
countries['abbreviation'] = countries.apply(
    lambda row: updated_abbreviations.get(row['country'], row['abbreviation'])
    if pd.isna(row['abbreviation']) else row['abbreviation'],
    axis=1
)

# verify that the missing values were filled in correctly
print(countries[countries['abbreviation'].isin(['RCG', 'ESW', 'VAC', 'ROI', 'NAM', 'NOM', 'PNA'])]
      [['country', 'abbreviation']])

                            country abbreviation
39            Republic of the Congo          RCG
56                         Eswatini          ESW
73                     Vatican City          VAC
81              Republic of Ireland          ROI
119                         Namibia          NAM
128                 North Macedonia          NOM
133  Palestinian National Authority          PNA

In [19]:
# verify that there are no duplicates in the abbreviation column
print('Are there any duplicated values?  ', countries['abbreviation'].duplicated().any())

# verify that there are no missing values in the abbreviation column
countries.isnull().sum()

Are there any duplicated values?   False

country                               0
density_pkm2                          0
abbreviation                          0
agricultural_land_pct                 7
land_area_km2                         1
armed_forces_size                    24
birth_rate                            6
calling_code                          1
capital_major_city                    3
co2_emissions                         7
cpi                                  17
cpi_change_pct                       16
currency_code                        15
fertility_rate                        7
forested_area_pct                     7
gasoline_price                       20
gdp                                   2
gross_primary_edu_pct                 7
gross_tertiary_edu_pct               12
infant_mortality                      6
largest_city                          6
life_expectancy                       8
maternal_mortality_ratio             14
minimum_wage                         45
official_language                     5
oop_health_expend                     7
physicians_per_thousand               7
population                            1
pop_labor_force_participation_pct    19
tax_revenue_pct                      26
total_tax_rate                       12
unemployment_rate                    19
urban_population                      5
latitude                              1
longitude                             1
dtype: int64

In [20]:
# life_expectancy column has 8 missing values
# calculate the median of all existing values
median_life_expectancy = countries['life_expectancy'].median()

# fill missing values with median
countries['life_expectancy'] = countries['life_expectancy'].fillna(median_life_expectancy)

# verify that there are no missing values in the abbreviation column
countries['life_expectancy'].isnull().sum()

0

In [30]:
# print sample of dataset with all columns
with pd.option_context('display.max_columns', None):
    print(countries.sample(10))

                 country  density_pkm2 abbreviation  agricultural_land_pct  \
18                 Benin           108           BJ                   33.3
0            Afghanistan            60           AF                   58.1
178              Tunisia            76           TN                   64.8
5    Antigua and Barbuda           223           AG                   20.5
42                  Cuba           106           CU                   59.9
16               Belgium           383           BE                   44.6
4                 Angola            26           AO                   47.5
171           Tajikistan            68           TJ                   34.1
170                Syria            95           SY                   75.8
90                Kuwait           240           KW                    8.4

     land_area_km2  armed_forces_size  birth_rate  calling_code  \
18          112622              12000       36.22           229
0           652230             323000       32.49            93
178         163610              48000       17.56           216
5              443                  0       15.33             1
42          110860              76000       10.17            53
16           30528              32000       10.30            32
4          1246700             117000       40.73           244
171         144100              17000       30.76           992
170         185180             239000       23.69           963
90           17818              25000       13.94           965

         capital_major_city  co2_emissions     cpi  cpi_change_pct  \
18               Porto-Novo           6476  110.71            -0.9
0                     Kabul           8672  149.90             2.3
178                   Tunis          29937  155.33             6.7
5    St. John's, Saint John            557  113.81             1.2
42                   Havana          28284     NaN             NaN
16         City of Brussels          96889  117.11             1.4
4                    Luanda          34693  261.73            17.1
171                Dushanbe           5310  148.57             6.0
170                Damascus          28830  143.20            36.7
90              Kuwait City          98734  126.60             1.1

    currency_code  fertility_rate  forested_area_pct  gasoline_price  \
18            XOF            4.84               37.8            0.72
0             AFN            4.47                2.1            0.70
178           TND            2.20                6.8            0.73
5             XCD            1.99               22.3            0.99
42            CUP            1.62               31.3            1.40
16            EUR            1.62               22.6            1.43
4             AOA            5.52               46.3            0.97
171           TJS            3.59                3.0            0.71
170           SYP            2.81                2.7            0.83
90            KWD            2.08                0.4            0.35

              gdp  gross_primary_edu_pct  gross_tertiary_edu_pct  \
18   1.439071e+10                  122.0                    12.3
0    1.910135e+10                  104.0                     9.7
178  3.879771e+10                  115.4                    31.7
5    1.727759e+09                  105.0                    24.8
42   1.000230e+11                  101.9                    41.4
16   5.296067e+11                  103.9                    79.7
4    9.463542e+10                  113.5                     9.3
171  8.116627e+09                  100.9                    31.3
170  4.040501e+10                   81.7                    40.1
90   1.347612e+11                   92.4                    54.4

     infant_mortality            largest_city  life_expectancy  \
18               60.5                 Cotonou             61.5
0                47.9                   Kabul             64.5
178              14.6                   Tunis             76.5
5                 5.0  St. John's, Saint John             76.9
42                3.7                  Havana             78.7
16                2.9                Brussels             81.6
4                51.6                  Luanda             60.8
171              30.4                Dushanbe             70.9
170              14.0                Damascus             71.8
90                6.7             Kuwait City             75.4

     maternal_mortality_ratio  minimum_wage       official_language  \
18                        397          0.39                  French
0                         638          0.43                  Pashto
178                        43          0.47                  Arabic
5                          42          3.04                 English
42                         36          0.05                 Spanish
16                          5         10.31                  French
4                         241          0.71              Portuguese
171                        17          0.23                 Persian
170                        31          1.02                  Arabic
90                         12          0.95  Modern Standard Arabic

     oop_health_expend  physicians_per_thousand  population  \
18                40.5                     0.08    11801151
0                 78.4                     0.28    38041754
178               39.8                     1.30    11694719
5                 24.3                     2.76       97118
42                 NaN                     8.42    11333483
16                17.6                     3.07    11484055
4                 33.4                     0.21    31825295
171               63.1                     1.70     9321018
170               53.7                     1.22    17070135
90                14.4                     2.58     4207083

     pop_labor_force_participation_pct  tax_revenue_pct  total_tax_rate  \
18                                70.9             10.8            48.9
0                                 48.9              9.3            71.4
178                               46.1             21.1            60.7
5                                  NaN             16.5            43.0
42                                53.6              NaN             NaN
16                                53.6             24.0            55.4
4                                 77.5              9.2            49.1
171                               42.0              9.8            67.3
170                               44.1             14.2            42.7
90                                73.5              1.4            13.0

     unemployment_rate  urban_population   latitude  longitude
18                2.23           5648149   9.307690   2.315834
0                11.12           9797273  33.939110  67.709953
178              16.02           8099061  33.886917   9.537499
5                  NaN             23800  17.060816 -61.796428
42                1.64           8739135  21.521757 -77.781167
16                5.59          11259082  50.503887   4.469936
4                 6.89          21061025 -11.202692  17.873887
171              11.02           2545477  38.861034  71.276093
170               8.37           9358019  34.802075  38.996815
90                2.18           4207083  29.311660  47.481766